code{
    color:blue
}
li{
    display: inline;
}

.badge-large { font-size: 1.0rem; /* Tăng kích thước phông chữ */ padding: 10px 20px; /* Tăng padding */ }

.offcanvas-body-a{
    text-decoration: none; 
    color: #000;
}
